@import "vendor/basscss";

body {
  background:#ffffff;
  font-family: 'Playfair Display', serif;
}

.c-storm-dust {
  color: #626262;
}

.c-white-pointer {
  color: #D9D6CD;
}

.c-black {
  color: black;
}

.bc-gallery {
  color: #F0F0F0;
}

.c-mine-shaft {
  color: #333333;
}

.ff-inconsolate {
  font-family: 'Inconsolata';
}

.ff-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.ht {
  max-height: 17.8125rem;
}
