@import "vendor/basscss";

body {
  background:#ffffff;
}

a:link, .list-item {
  color: #626262;
}

.logo {
  font-family: 'Inconsolata';
  color: black;
}

.photodiary {
  font-family: 'Ubuntu', sans-serif;
  color: #D9D6CD;
}

.photodiary-caption-header, .photodiary-caption {
  color: #626262;
  font-family: 'Playfair Display', serif;
}

