@import "vendor/basscss";

body {
  background:#ffffff;
  font-family: 'Playfair Display', serif;
}

.c-storm-dust {
  color: #626262;
}

.c-white-pointer {
  color: #D9D6CD;
}

.c-black {
  color: black;
}

.bc-gallery {
  background-color: #F0F0F0;
}

.c-mine-shaft {
  color: #333333;
}

.c-scarpa-flow {
  color: #6B6B6B;
}

.ff-inconsolate {
  font-family: 'Inconsolata';
}

.ff-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.ht { // height for newsletter form
  height: 17.8125rem;
}

hr {
  border: 0;
  width: 25rem;
  color: black;
  background-color: black;
  height: 2px;
}
